/* Sidebar.css */
.sidebar {
  position: sticky;
  background-color: rgb(245, 245, 245);
  height: calc(100vh - 60px);
  top: 60px;
  min-width: 170px;
  width: 20vw;
  transition: width 0.3s ease; /* Smooth width transition */
}

.sidebarWrapper {
  padding: 20px;
  padding-top: 0;
  color: #555;
}

.sidebarTitle {
  font-size: 18px;
  color: #669b52;
  margin-bottom: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0; 
}

.sidebarListItem {
  padding: 10px 15px; 
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px 0; 
  transition: background-color 0.3s ease; 
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #d3f3c6;
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
    height: auto; 
  }

  .sidebarListItem {
    justify-content: center; 
    padding: 15px; 
  }

  .sidebarWrapper {
    padding: 10px; 
  }
}
